


.about-title p {
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 3px;
}

.about-infos {
    margin-top: 50px;
    font-weight: 700;
    letter-spacing: .3;
    font-size: 13px;
}
.about-infos span {
    font-weight: 400;
}
.about-title span {
    font-size: 13px;
    letter-spacing: 1.2px;
    font-weight: 400;
}

.currently, .some-history {
    margin-top: 30px;
}

.some-history ul li {
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .body-right {
        margin-top: 40px;
    }

    .about-section, .about-title {
        text-align: center;
    }
}
