.profile-photo img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin: 20px auto;
}

.profile-title span {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.profile-email a{
    text-decoration: none;
    color: inherit;
}

.profile-email a:hover {
    transition: 0.5s ease-in-out;
    opacity: .7;
    color: brown;
}

.profile-about p{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 4px;
}

.about-me-link {
    margin-top: 20px;
}

.about-me-link a:hover {
    transition: 1s ease-in-out;
}
.profile-about a {
    text-decoration: none;
    color: inherit;
    border: 1px solid gray;
    padding: 10px;
    font-size: 12px;
    letter-spacing: 1.2px;
}

.profile-about a:hover {
    color: blue;
    border-color: blue;

}

hr {
    margin-top: 30px;
}

.contact-links a{
    border: none;
}

.contact-links  a span {
    font-size: 30px;
}

.contact-links a span:hover{
    transition: .5s ease-in-out;
    opacity: .7;
}

@media screen and (max-width: 768px) {

    .profile-photo {
        display: flex;
    }

    .profile-title, .profile-email, .profile-about {
        text-align: center;
    }

    
}